/*body{
    background-image: url(http://media.bestkiteboarding.com/media/blog/best_kiteboarding_indonesia_video.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}*/
/*html{
  background-image: url(http://media.bestkiteboarding.com/media/blog/best_kiteboarding_indonesia_video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}*/
