<div id="top">
    <div class="header">
      <h1>Ask the Kite experts!</h1>
      <p>With links to Kiteboarding resources and other things too</p>
    </div>
    <div id="navbar">
      <ul id="navigator">
        <li> <a href="http://bajajoe.com/"> Baja </a> </li>
        <li><a href="http://www.bigwavedave.ca/"> BC </a></li>
        <li><a href="http://www.kiteboardmexico.com/"> Isla Blanaca </a>
        <li><a href="http://www.bayareakiteboarding.com/forum/"> Cali </a></li>
        <li><a href="http://www.nwkite.com"> The Gorge </a></li>
      </ul>
    </div>
  </div>

<h1>Ask-Experts & Improve your session!</h1>

<div ng-show="questions.length">
  <h4>Search questions by key terms:</h4>
  <form role="form">
    <div class="form-group">
      <input ng-model="query.$" type="text" class="form-control" placeholder="Find a question" id="question-name" required>
      <div class="checkbox">
        <label>
          <input ng-model="query.answered" type="checkbox" ng-true-value="true" ng-false-value="" toggle-class="toggle-calm">Show answered questions only
        </label>
      </div>
    </div>
  </form>
  <hr/>

  <h2 ng-show="questions.length && filtered.length">Here are all of your questions:</h2>
  <h2 ng-show="questions.length && !filtered.length">No Matches</h2>
  <ul>
    <li ng-repeat="item in filtered = (questions | filter:query)">
      <a ui-sref="questions.answers({ questionId: item.id })">{{ item.name }}</a> <i class="fa fa-check-circle-o" ng-show="item.answered"></i>
    </li>
  </ul>
</div>

<!-- answers field -->
<div ui-view></div>

<hr/>

  <h2>Ask a new question:</h2>
  <form ng-submit="QuestionsFactory.addQuestion()" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.questionName" class="form-control" placeholder="Ask a question" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <h3><a ui-sref="questions">Click here to view all questions</a></h3>
